<h1>Login here!</h1>
<div>
<form method="POST"  action="/login">
    Email: <input type="text" name="email"><br />
    Password: <input type="password" name="password"><br /><br>
    <input type="submit" value="Login!">
</form><br> <br>
</div>
<a href="/users/signup"> Sign Up </a>