
<h1> Welcome to StockTracker! Sign up here </h1>
<form action="/users" method="POST">

User Name: <input type="text" name="username"><br>
Email: <input type="text" name="email"><br>
Password: <input type="text" name="password"><br><br>

<input type="submit" value="Sign Up"><br> <br>
You can login<a href="/login"> here!</a>
</form>