<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Edit Stock</title>
      <link rel="stylesheet" href="/stylesheets/main.css" />
      <style>
         h1 {
         color: white;
         text-shadow: 2px 2px 4px #000000;
         }
      </style>
   </head>
   <body>
      <h1>You can edit the company name and/or add a note!</h1>
      <div class="edit">
         <form action="/stocks/<%= @stock.id %>" method="POST" > 
            <input type="hidden" id="hidden" name="_method" value="PATCH">
            Name:<input type="text" value="<%= @stock.name %>" name="name"><br>
            Note:<textarea type="textarea" name="note"></textarea><br>
            <input type="submit" value="Submit">
         </form>
      </div>
   </body>
</html>