<%# <form action="/home" method="POST">
    Enter ticker: <input type="text" name="ticker">
    <input type="submit">
</form> %>

<h1> Welcome to your portfolio </h1>
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example" action="/stocks" method="POST">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br><br>
<% if !@stocks.empty? %>
<% @stocks.each do |stock|%>
Name: <%= stock.name %> <br>
Price: <%= stock.price %><br>
Ticker: <%= stock.ticker %><br><br>
<% end %>
<% else %>
<h3> You do not have any stock listed </h3>
<% end %>

<a href="/logout"> Log Out </a>