<h1 class="news-heading"> Latest stock news </h1>
<% Stock.news.each do |stock| %>
<ul>
   <div class="news-list">
      <strong>
         <li> <%= stock.headline %> </li>
      </strong>
      <p> Source: <%= stock.source %></p>
      <li> <a href=<%= stock.url %> target="_blank"> Read here!  </a> </li>
   </div>
</ul>
<% end %>