<!DOCTYPE html>
<html lang="en">
   <head>
      <style>
         body {
         background-image: url("https://ei.marketwatch.com/Multimedia/2015/09/21/Photos/ZG/MW-DU756_Stock_20150921172954_ZG.jpg?uuid=e6db074c-60a7-11e5-98d7-0015c588e0f6");
         background-repeat: no-repeat;
         background-attachment: fixed;  
         background-size: cover;
         }
      </style>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Welcome to Stock Tracker</title>
   </head>
   <body>
      <h1> Welcome to Stock Tracker! </h1>
      Please <a href="/login">login</a> or <a href="/signup">signup!</a>
   </body>
</html>